In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
# Load the data
df_resultado = pd.read_csv('../Data/df_resultado_var1.csv')
df_com_up = pd.read_csv('../Data/df_com_up_var1.csv')
df_com_down = pd.read_csv('../Data/df_com_down_var1.csv')
df_estadisticas_up = pd.read_csv('../Data/df_estadisticas_up.csv')
df_estadisticas_down = pd.read_csv('../Data/df_estadisticas_down.csv')

In [6]:
df_resultado.head()

,pay_predicted,year_2023,year_2024,month_3,month_5,month_6,month_7,month_8,month_9,month_10,...,CAT 797-F,CAT 798-AC,KOM-CHQ,KOM.960E5,Kom.930E-4,Kom.930E-4SE,Kom.930ER-MT,Kom.980E5,Komatsu AHS,verificacion_payload
0,125045.860483,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-3.276360,-0.21334,-0.575556,2.735792,-1.756724,0.476865,-0.035749,-2.98167,-0.101592,no_cumple
1,133832.488037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-3.276360,-0.21334,-0.575556,2.735792,0.191462,0.433466,-0.035749,-2.98167,-0.101592,no_cumple
2,147214.807767,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-3.246214,-0.21334,-0.575556,2.735792,0.191462,0.607062,-0.035749,-2.98167,-0.101592,cumple
3,143269.831041,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-2.914614,-0.21334,-0.575556,2.735792,-1.756724,0.520264,-0.035749,-2.98167,-0.101592,cumple
4,146331.738157,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-2.914614,-0.21334,-0.575556,2.735792,0.191462,0.520264,-0.035749,-2.98167,-0.101592,cumple